<a href="https://colab.research.google.com/github/raphacs/Avaliacao_Mentors/blob/main/Teste_de_avalia%C3%A7%C3%A3o_Desenvolvedor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd
import numpy as np
from google.colab import data_table

In [ ]:
banco = sqlite3.connect('/content/loja.db')

In [ ]:
cursor = banco.cursor()

In [ ]:
df_clientes = pd.read_sql('SELECT * FROM cliente', con=banco)

In [ ]:
df_clientes

      index codigo  ...    ramo_atividade condicao
0         0      1  ...               N/I       28
1         1     10  ...  CONSUMIDOR FINAL       28
2         2     11  ...              LOJA       28
3         3     12  ...              LOJA       14
4         4     13  ...        FABRICANTE        7
...     ...    ...  ...               ...      ...
4932   4932  10503  ...              LOJA       14
4933   4933  10504  ...  CONSUMIDOR FINAL       14
4934   4934  10505  ...     SITE MONTOLIT       21
4935   4935  10506  ...              LOJA       21
4936   4936  10508  ...              LOJA       21

[4937 rows x 9 columns]

In [ ]:
df_produto = pd.read_sql('SELECT * FROM produto', con=banco)

In [ ]:
df_produto

     index            sku     descricao  ...         origem unidade_medida     preco
0        0  7898632210323  PRODUTO 8068  ...        ACABADO            PCT     1.080
1        1  7898945165426  PRODUTO 8247  ...        ACABADO            PCT     9.348
2        2  7898632210422  PRODUTO 8248  ...        ACABADO            PCT     8.500
3        3  7898632211320  PRODUTO 8458  ...        ACABADO             PC     0.783
4        4  7898945165099  PRODUTO 8603  ...        PRODUTO             PC    15.000
..     ...            ...           ...  ...            ...            ...       ...
603    603           1792  PRODUTO 1792  ...  MATERIA PRIMA             KG     5.000
604    604           1795  PRODUTO 1795  ...        PRODUTO             PC     2.380
605    605           1797  PRODUTO 1797  ...        PRODUTO             UN  5811.310
606    606           1818  PRODUTO 1818  ...        PRODUTO             UN     4.500
607    607           1823  PRODUTO 1823  ...  MATERIA PRIMA             KG     4.250

[608 rows x 8 columns]

In [ ]:

grupo7 = df_clientes.loc[df_clientes['condicao'] == 7]
grupo14 = df_clientes.loc[df_clientes['condicao'] == 14]
grupo21 = df_clientes.loc[df_clientes['condicao'] == 21]
grupo28 = df_clientes.loc[df_clientes['condicao'] == 28]

In [ ]:
novo_preço_07 = df_produto['preco'].apply(lambda x: x+x*0.1, convert_dtype = False)
novo_preço_14 = df_produto['preco'].apply(lambda x: x+x*0.15, convert_dtype = False)
novo_preço_21 = df_produto['preco'].apply(lambda x: x+x*0.2, convert_dtype = False)
novo_preço_28 = df_produto['preco'].apply(lambda x: x+x*0.25, convert_dtype = False)

novo_preço_07 = novo_preço_07.to_frame()
novo_preço_14 = novo_preço_14.to_frame()
novo_preço_21 = novo_preço_21.to_frame()
novo_preço_28 = novo_preço_28.to_frame()

In [ ]:
codigo_produto = input('digite o codigo do produto ')
df_pesquisa = df_produto.loc[df_produto['sku'] == codigo_produto]
variavel_preco = df_pesquisa['preco'].values

digite o codigo do produto 10

In [ ]:
codigo_cliente = input('digite o codigo do cliente ')
df_cliente_alvo = df_clientes.loc[df_clientes['codigo']== codigo_cliente]
df_condicao = df_cliente_alvo['condicao'].values.tolist()
if df_condicao[0] == 7:
  print('7')
elif df_condicao[0] == 14:
  print('14')
elif df_condicao[0] == 21:
  print('21')
elif df_condicao[0] == 28:
  novo_preço_28['preco_28'] = novo_preço_28['preco']
  novo_preço_28['codigo_cliente'] = df_cliente_alvo['codigo'].values[0]
  novo_preço_28['preco_original'] = df_produto['preco']
  novo_preço_28['preco_07'] = novo_preço_07['preco']
  novo_preço_28['preco_14'] = novo_preço_14['preco']
  novo_preço_28['preco_21'] = novo_preço_21['preco']
  
  dataframe_final = novo_preço_28[['codigo_cliente','preco_original','preco_07','preco_14','preco_21','preco_28']]

else:
  print('erro na condição')

digite o codigo do cliente 10

In [ ]:
dataframe_final

    codigo_cliente  preco_original preco_07 preco_14 preco_21 preco_28
0               10           1.080    1.188    1.242    1.296     1.35
1               10           9.348  10.2828  10.7502  11.2176   11.685
2               10           8.500     9.35    9.775     10.2   10.625
3               10           0.783   0.8613  0.90045   0.9396  0.97875
4               10          15.000     16.5    17.25       18    18.75
..             ...             ...      ...      ...      ...      ...
603             10           5.000      5.5     5.75        6     6.25
604             10           2.380    2.618    2.737    2.856    2.975
605             10        5811.310  6392.44  6683.01  6973.57  7264.14
606             10           4.500     4.95    5.175      5.4    5.625
607             10           4.250    4.675   4.8875      5.1   5.3125

[608 rows x 6 columns]